.search,
.dark-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 40px;
    width: clamp(300px, 100%, 500px);
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--neutral-c6);
    overflow: hidden;

    button {
      background-color: transparent;
      border: none;
      height: 100%;
      padding: 0 1rem;
    }
    hr {
      border: 1px solid black;
      height: 1rem;
    }
    input {
      color: var(--neutral-c4);
      background-color: transparent;
      outline: none;
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  select {
    height: 40px;
    padding: 0 1rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 150px;
    background-color: var(--neutral-c6);
    color: var(--neutral-c3);
  }
}
