:root {
  --neutral-c1: hsl(209, 23%, 22%);
  --neutral-c2: hsl(207, 26%, 17%);
  --neutral-c3: hsl(200, 15%, 8%);
  --neutral-c4: hsl(0, 0%, 52%);
  --neutral-c5: hsl(0, 0%, 98%);
  --neutral-c6: hsl(0, 0%, 100%);
}
