html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

p,
h2,
h3 {
  margin: 0;
}

.country,
.main {
  background-color: var(--neutral-c5);
}

.country button {
  background-color: var(--neutral-c6);
}

.dark-main,
.dark-country,
.dark-head {
  background-color: var(--neutral-c2);
}

.dark-search .search-bar {
  background-color: var(--neutral-c1) !important;
}
.dark-search .search-bar input {
  color: var(--neutral-c6) !important;
}
.dark-search select {
  background-color: var(--neutral-c1) !important;
  color: var(--neutral-c6) !important;
}

.dark-card {
  background-color: var(--neutral-c1);
  color: var(--neutral-c6);
}
.dark-card .context span {
  color: var(--neutral-c4);
}

.dark-country button {
  background-color: var(--neutral-c1);
  color: var(--neutral-c6);
}
.dark-country .context {
  color: var(--neutral-c6);
}

:root {
  --neutral-c1: hsl(209, 23%, 22%);
  --neutral-c2: hsl(207, 26%, 17%);
  --neutral-c3: hsl(200, 15%, 8%);
  --neutral-c4: hsl(0, 0%, 52%);
  --neutral-c5: hsl(0, 0%, 98%);
  --neutral-c6: hsl(0, 0%, 100%);
}

.head,
.dark-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 10vh;
}
.head .mode,
.dark-head .mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}

.main,
.dark-main {
  padding: 1rem;
  min-height: 90vh;
}
@media (min-width: 375px) {
  .main,
  .dark-main {
    padding: 3rem 5rem;
  }
}

.search,
.dark-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.search .search-bar,
.dark-search .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 40px;
  width: clamp(300px, 100%, 500px);
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--neutral-c6);
  overflow: hidden;
}
.search .search-bar button,
.dark-search .search-bar button {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 0 1rem;
}
.search .search-bar hr,
.dark-search .search-bar hr {
  border: 1px solid black;
  height: 1rem;
}
.search .search-bar input,
.dark-search .search-bar input {
  color: var(--neutral-c4);
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
}
.search select,
.dark-search select {
  height: 40px;
  padding: 0 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 150px;
  background-color: var(--neutral-c6);
  color: var(--neutral-c3);
}

.cards {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  margin-top: 3rem;
}
.cards .card,
.cards .dark-card {
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}
.cards .card .img-container,
.cards .dark-card .img-container {
  width: 100%;
  height: 200px;
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card .img-container img,
.cards .dark-card .img-container img {
  width: 100%;
  height: 100%;
}
.cards .card .context,
.cards .dark-card .context {
  padding: 2rem 1.5rem;
}
.cards .card .context h2,
.cards .dark-card .context h2 {
  margin-bottom: 1rem;
}
.cards .card .context p,
.cards .dark-card .context p {
  margin-bottom: 0.5rem;
}
.cards .card .context p:last-of-type,
.cards .dark-card .context p:last-of-type {
  margin-bottom: 0;
}

.country,
.dark-country {
  padding: 2rem;
  min-width: 300px;
  min-height: 90vh;
}
.country button,
.dark-country button {
  margin-bottom: 3rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 0.4rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.country .flag-container,
.dark-country .flag-container {
  margin-bottom: 2rem;
}
.country .context p span,
.dark-country .context p span {
  color: var(--neutral-c4);
}
.country .context h2,
.dark-country .context h2 {
  margin-bottom: 1rem;
}
.country .context .section-1,
.dark-country .context .section-1 {
  margin-bottom: 1.5rem;
}
.country .context .section-1,
.dark-country .context .section-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.country .context .section-2 h2,
.dark-country .context .section-2 h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 375px) {
  .country,
  .dark-country {
    padding: 4rem;
    height: auto;
  }
  .country button,
  .dark-country button {
    margin-bottom: 4rem;
  }
  .country .main-country,
  .dark-country .main-country {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
  }
  .country .main-country .flag-container,
  .dark-country .main-country .flag-container {
    flex-grow: 0.4;
    height: 100%;
    max-width: 600px;
    margin-bottom: 0;
  }
  .country .main-country .flag-container img,
  .dark-country .main-country .flag-container img {
    width: 100%;
    height: 100%;
  }
  .country .main-country .context,
  .dark-country .main-country .context {
    flex-grow: 1;
    padding: 2rem 6rem;
    height: 100%;
  }
  .country .main-country .context h2,
  .dark-country .main-country .context h2 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .country .main-country .context .section-1,
  .dark-country .main-country .context .section-1 {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
  .country .main-country .context .section-1 p,
  .dark-country .main-country .context .section-1 p {
    line-height: 180%;
  }
  .country .main-country .context .section-2,
  .dark-country .main-country .context .section-2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }
  .country .main-country .context .section-2 h2,
  .country .main-country .context .section-2 button,
  .dark-country .main-country .context .section-2 h2,
  .dark-country .main-country .context .section-2 button {
    width: auto;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=styles.css.map */